<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty went live on the 28th of June, 2014 as part of a <a target="_blank" href="http://www.firehoseweekend.com/">Firehose Weekend</a>. Born of the need to bestow the best of my 20+ years of student experiences unto the next generation of green students, Splurty also served as my playground to re-learn web development after college.   
  </p>
  <br />
  <p>
    The site is built on the <a target="_blank" href="http://rubyonrails.org/">Ruby on Rails</a> framework with a postgres database. <a target="_blank" href="http://getbootstrap.com/">Bootstrap 3</a> was used to make it look slick. Big shoutout to <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> &amp; <a target="_blank" href="http://github.com/KenMazaika">Ken</a> for being awesome and guiding me through this. I'd highly recommended their <a target="_blank" href="http://www.firehoseweekend.com/">courses</a> if you're looking to get kickstarted on web development.     
  </p>
  <div class="col-xs-12 col-sm-4 about-image">
    <%= image_tag 'amitav.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Amitav Khandelwal</h2>
    <p>
      Amitav Khandelwal is a tech/biz hybrid who likes to taste what's cooking in the next wave of technology, even if his tongue does get a little singed in the process. He likes hacking at Android apps, building websites like this one and meeting people around Boston, among other things like <i>trying</i> to stay fit and making futile attempts at juggling.
    </p>
    <br />
    <div class="container">
    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/amitav.khandelwal" target="_blank">
      <i class="fa fa-facebook"></i>
    </a> 
    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/AmitavK" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/amitavk" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>    
    <a class="btn btn-social-icon btn-linkedin" href="www.linkedin.com/in/amitav/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="btn btn-social-icon btn-github" href="https://github.com/amitav13" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    </div>    
  </div>
  <br class="clear" />


</div>